xlstoxml/src/main/app/xlstoxmlerrovm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">


<flow name="EDITOXML_ErrorInsertVM" doc:name="EDITOXML_ErrorInsertVM">
	<vm:inbound-endpoint exchange-pattern="request-response" path="XLSTOXML.queue.VMError" doc:name="VM"/>
        <logger level="INFO" doc:name="Logger"/>
	<db:insert config-ref="MySQL_Configuration" doc:name="InsertFailureLog">
            <db:parameterized-query><![CDATA[INSERT INTO isbn.logfailure (Process,Message,AdditionalText)
VALUES (#[sessionVars.errorprocess],#[sessionVars.errormessage],#[sessionVars.erroradditionaltext]);]]></db:parameterized-query>

	</db:insert>
	<catch-exception-strategy doc:name="Catch Exception Strategy">
	   <logger message="&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; Kofax: Error DB insert failed  &lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt; #[payload]" level="INFO" doc:name="Logger"/>
	</catch-exception-strategy>
</flow>
</mule>
